.singleTag {
  color: rgb(45, 51, 63);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px 0px 0px 10px;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-color: rgb(200,200,200);
  border-width: 0.8px;
  border-radius: 20px;
  display: inline-block;
}

.singleTag:hover {
  color: rgb(45, 51, 63);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px 0px 0px 10px;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-color: #DA3743;
  border-width: 1.5px;
  border-radius: 20px;
  display: inline-block;
}