

body{
  background-color: rgba(128, 128, 128, 0.096);
  height: 3000px;
}

#headers{
  position: absolute;
  top: 1%;
}

#outer-frame-container{
  position: fixed;
  top: 2%;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: white;
  overflow-y:scroll;
}
#inner-frame-container{
  position: absolute;
  top: 33%;
  left: 20%;
  width: 40%;
  height: 100%;
  background-color: white;
}
#imageCarouselTop-session {
  position: absolute;
  top: 7%;
  width: 109.3%;
}
#overview-section {
  position: absolute;
  top: 5%;
  left: 5%;
}

#imageCarousel-session {
  position: absolute;
  top: 55%;
  left: 5%;
  width: 190%;
}

#reservation {
  background-color: white;
  position: fixed;
  top: 35%;
  left: 62%;
}

#app {
  position: absolute;
  left: 5%;
  top:93%;
}